
input::-webkit-calendar-picker-indicator{
  display: none;
  -webkit-appearance: none;
}

body {
    padding: 0.5rem;
    margin: 4rem;
}
html, body {
    height: 100%;
    width: 100%;
}

body > * {
  margin-top: 1rem;
}

#submit {
    margin-left: 1rem;
    margin-right: 1rem;
}

#result-steps-instructions {
  margin-top: 3rem;
}

li {
  margin-bottom: 0.2rem;
}


#error-text {
  color: #ff0000;
  font-weight: 1000;
}

#title {
    margin: 0px;
}

#result {
    /* Hide by default, until we show the result. */
    display: none;
}